.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  width: 100% !important;
}

.slides-wrap {
  min-height: 105vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
