<ion-content>
    <div style="text-align: center;">
        <h5 class="dark-blue-lomi ion-padding" style="padding-bottom: 0; margin-bottom: 0;">Has acumulado un total de <b>{{accumulatedLatamMiles}}</b> millas latam</h5>
    </div>
<!-- 
    <div 
        class="dark-blue-lomi ion-padding" 
        style="display: flex; justify-content: center; align-items: center; padding-top: 0; margin-top: 0; gap: 10px;"
    >
        <p>Ver mas</p>
        <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <img 
        class="ion-padding" 
        style="padding-top: 0; border-radius: 0;" 
        src="https://userimg-bee.customeriomail.com/images/client-env-109264/Frame%20346%20%281%29.png?hash=1668022680482"
    > -->
</ion-content>