<div class="ion-text-center">
  <div class="drag-line"></div>
  <div style="padding: 0 8px">
    <h5 class="dark-blue-lomi"><b>Por ser la primera vez, te redirigiremos para agregar tu nueva tarjeta de débito</b></h5>
    <h5 class="dark-blue-lomi">Ingresa los datos y confirma el pago de $50 para validarla. Quedará cargada para futuros usos.</h5>
    <h5 class="dark-blue-lomi">Luego regresaremos a Lomi para terminar tu compra.</h5>
    <ion-button style="width:100%" (click)="confirm()" color="tertiary">Ir a Webpay OneClick</ion-button>
    <p (click)="cancel()" class="dark-blue-lomi" style="text-decoration: underline; text-underline-offset: 8px;">Cancelar</p>
  </div>
</div>