<ion-content style="--background: #E0FFF4" fullscren>
  <div class="message-container">
    <h2 class="Montserrat">Tu cuenta se creó con exito,</h2>
    <h1 class="Montserrat">¡Muchas gracias por<br>unirte a LOMI!</h1>
    <ion-label class="Montserrat">Te redirigiremos al home en unos segundos...</ion-label>
    <ion-grid fixed>
      <ion-row>
        <ion-col class="ion-padding" size="12">
          <ion-button (click)="goHome()" expand="full" shape="round">
            Ir al home ahora
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ellipse">
    <img class="bolsa_1" src="../../../assets/images/bolsa_1.png">
    <img class="brillo_1" src="../../../assets/images/brillo_1.png">
    <img class="brillo_2" src="../../../assets/images/brillo_2.png">
    <img class="brillo_3" src="../../../assets/images/brillo_3.png">
  </div>
  
</ion-content>
