<div class="p" style="text-align: center;">
  <div class="drag-line"></div>
  <div style="padding: 0 8px">
    <h5 class="dark-blue-lomi"><b>¿Seguro quieres cambiar la dirección?</b></h5>
    <p class="dark-blue-lomi">Al hacer este cambio, puede que no haya stock disponible en algunos productos</p>
    <p class="dark-blue-lomi"><b>Antes de ir a pagar, te llevaremos a tu carrito para que lo revises...</b></p>
    <ion-button style="width:100%" (click)="confirm()" color="tertiary">Si, cambiar dirección</ion-button>
    <p (click)="cancel()" class="dark-blue-lomi">Cancelar cambio de dirección</p>
  </div>
</div>