<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="btn-dismiss">
        <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscren>
  <h1 class="ion-padding Montserrat title-page">¿Olvidaste tu contraseña?</h1>
  <ion-grid class="ion-padding">
    <ion-row>
      <form [formGroup]="recoverForm" (submit)="recover()" novalidate style="width: 100%">
        <ion-col size="12">
          <ion-label class="Montserrat title-input" position="stacked">Por favor, ingresa tu mail aquí</ion-label>
          <ion-input placeholder="Correo electrónico" formControlName="email" type="email"
            class="ion-margin-bottom ion-text-left">
          </ion-input>
          <div class="error ion-padding-bottom" *ngIf="recoverForm.controls.email.touched && recoverForm.controls.email.errors?.required">
            El mail es requerido
          </div>
          <div class="error ion-padding-bottom" *ngIf="recoverForm.controls.email.touched && recoverForm.controls.email.errors?.pattern">
            Ingresa un correo válido
          </div>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer style="padding-bottom: 5%;">
  <ion-grid >
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="recover()" [disabled]="!recoverForm.valid"
          style="--background:var(--ion-color-primary);--color: white; height: 2.5em;" expand="block">
          Recuperar contraseña
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>