.container-details {
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0.5em;

    ion-row {
    margin-top: -0.5em;
    }
}

ion-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    &:not(.primary-color){
        color: #424962;
    }
}

.details-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #424962;
}


.close-button {
    position: absolute;
    right: -1em;
}

.close-icon {
    border-radius: 100%; 
    font-size: 1em;
}

.lomi-code {
    background-color: #00C686;
    color: #FFFFFF;
}

.latam-code {
    background-color: #424962;;
    color: #FFFFFF;
}

.inner-text {
    margin-left: -11em;
}

.remove-promotion-code {
    position: relative;
    border-radius: 21px 21px;

    span {
        position: absolute;
        left: 0;    
    }
}

.remove-lomi-code {
    border: 1px solid #03c686ed;
}

.remove-latam-code {
    border: 1px solid #424962;
}