<div>
  <div class="p">
    <h1 class="color-tertiary montserrat"><b>Ey! Algunas recomendaciones especiales para ti ❤️</b></h1>
    <p class="montserrat primary-color" >Seleccionamos algunos productos que podrían interesarte...</p>
  </div>
  <app-products-list [products]="products"></app-products-list>
  <ion-footer class="custom-ion-footer">
    <div class="p">
      <ion-button (click)="dismissModal()" style="width:100%" color="tertiary">Continuar</ion-button>
    </div>
  </ion-footer>
</div>