.bg-yellow {
  background-color: yellow;
}

.transition {
  transition: background 0.25s ease, color 0.25s ease;
}

.active-slide {
  background-color: green;
  color: #fff;
}

.bg-blue {
  background-color: blue;
  color: #fff;
}

.half-size-modal{
  height: 40%;
}

.moments-card{
  background-color: white;
  margin-top: 24px;
  padding-top: 2px;
  border-radius:  0px 35px 0px;
}

ion-content{
  --background: rgba(235, 235, 235, 0.4);
}

.divider {
  border: 0.1px solid #E5E5E5;
}
