.title-container {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  span{
    display: flex;
  }
  img {
    max-height: 2em;
    display: inline-block;
    width: 18px;
    vertical-align: sub;
    margin-right: 5px;
  }
  ::ng-deep p{
    margin: 0 !important;
  }
  ::ng-deep img{
    max-height: 1.7em;
    margin-top: -0.7em;
    border-radius: 0 !important;
    margin-left: 0.75em;
  }
}

ion-icon {
  vertical-align: bottom;
}

::slotted p{
  margin: 0 !important;
}
