<ion-row class="ion-text-center skeleton">
  <ion-col size="4">
    <div class="custom-skeleton">
      <img src="../../../../assets/images/product_1.png" alt="product" class="ion-margin-top">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="custom-skeleton">
      <img src="../../../../assets/images/product_1.png" alt="product" class="ion-margin-top">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="custom-skeleton">
      <img src="../../../../assets/images/product_1.png" alt="product" class="ion-margin-top">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
  </ion-col>
</ion-row>
