<ion-content scroll-y="false">
  <div class="p content">
    <img id="sorry-avocado" src="assets/images/sorry-avocado.svg">
    <div class="ion-text-center titles-container">
      <h2 class="color-primary"><b>¡UPS! <br>{{title}}</b></h2>
      <h3 class="color-primary m-b">{{subTitle}}</h3>
    </div>
  </div>
  <div class="bg-tertiary circle text-center">
  </div>
  <div class="button-container">
    <ion-button (click)="backButton()" color="primary">Volver a intentarlo</ion-button>
  </div>
</ion-content>