.radio-custom {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.item-radio-checked {
  border: 1x solid #3fc686;
  border-radius: 10px;
}

.d-none {
  display: none;
}

.payment-icon{
  margin: 0 1em 0 0;
  border-radius: 50%;
  padding: 0.6em;
  background-color: #FAFAFA;
  border: 1px solid #E5E5E5;
}

.one-click-img{
  width: 13em;
  margin-left: -8px;
}