ion-header  {
    min-height: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.05);
    // min-height: 1.5em;

    ion-toolbar{
        background-size: cover !important;
      }
    
}
.title-header {
    letter-spacing: -0.02em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 22px;
    padding-top: 0.3em;
}

.end-button {
    padding-top: 0.3em;
    font-size: 0.875em;
   
    ion-label {
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.408px;
    }
}

.start-button {
    padding-top: 0.3em;
    font-size: 0.875em;
    ion-icon {
        color: #2d2d2d !important;
    }
}

ion-content {
    --background: #F6F6F6;

    .icon-container {
        margin-top: 1.5em;
        display: flex; 
        justify-content: center;
    
        .user-icon{
            width: 74px;
            height: 74px;
            border: 2px solid #00C686;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #BAF1DE;
        
            img {
                width: 48px;
                height: 48px;
            }
        }
    }
    
    .profile-body{

        .title-items.info {
            margin-top: 2em;
        }
        .title-items {
            margin-top: 1.5em;
            margin-left: 0.9em;
            margin-bottom: 0.3em;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.02em;
            color: #424962;
        }

        .items-list {
            margin: 0 0.9em;
            --background: #FFFFFF;
            border-radius: 0px 0px 15px 15px;

    
            .items {
                margin-left: 0.5em;
                margin-right: 0.4em;
                margin-top: 0.2em;
                line-height: 17px;
                font-weight: 500;
                letter-spacing: -0.02em;
                --color: #424962;

                .end-label {
                    color: #B0B1B3;
                }
    
                .change-password {
                    text-decoration-line: underline;
                }

                .title-label {
                    font-size: 12px;

                    &_profile {
                        margin-top: 1rem;
                    }
                }

            }
        }
    }

    .title-page {
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: #424962;
        margin-top: -0.7em;
        padding-bottom: 0px;
    }
    .label-container {
        display: flex;
        justify-content: space-between;
        margin: 0 0.25em;
    }
    
    .title-input {
        font-weight: 500;
        font-size: 0.7em;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: #424962;
        margin-top: 0.9em;
    }
    
    .required {
        font-size: 10px;
        color: #B0B1B3;
        text-align: right;
        margin-top: 10.7px;
    }
    
    .divider {
        border: 1px solid #E5E5E5;
        height: 0px;
        margin: 0 0.5em;
    }


    form {
        margin-bottom: 3rem;
    }

}

ion-select::part(icon) {
    color: #00C686;
    opacity: 1;
}

ion-select {
    padding-right: 0.8em;
}

ion-input {
    color: #B0B1B3;
} 

ion-input.has-value, ion-select {
    color: #424962 !important;
}

