.container-title {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

// img {
//     border-radius: 0%;
//     height: 1.2em;
//     width: 1.3em;
// }

h1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #00C686;
    margin-top: 0 !important;
}

ion-button {
    margin-top: 1em;
}