<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394847830425-cnt05nusvspsccb2n7k7adhs7dmf94hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394847830425-cnt05nusvspsccb2n7k7adhs7dmf94hu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>394847830425-527vbbb1mjq4jpfr00tl3cuesomolo4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDchLWn1fm8MfLfzqeQMosbVDHDGTg5zE</string>
	<key>GCM_SENDER_ID</key>
	<string>394847830425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.lomi.app</string>
	<key>PROJECT_ID</key>
	<string>lomi-35ab6</string>
	<key>STORAGE_BUCKET</key>
	<string>lomi-35ab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394847830425:ios:ce843185c9a8ea740f9308</string>
	<key>DATABASE_URL</key>
	<string>https://lomi-35ab6-default-rtdb.firebaseio.com</string>
</dict>
</plist>